body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./static/backgrounds/background.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  overflow-x: hidden;
}

.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__content {
  flex: 1 0 auto;
}

.btn {
  border: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.container__pd-top {
  padding-top: calc(var(--header-height) * 2 + 20px);
}

.icon--mg-right {
  margin-right: 15px;
}

.icon--mg-left {
  margin-left: 15px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.cart__btn {
  background-color: green;
  color: #cccccc;
  width: 12.5%;
  height: 25%;
  font-weight: bolder;
  font-size: 18px;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: -200px;
}

.ant-btn.ant-btn-background-ghost:hover, .ant-btn.ant-btn-background-ghost:focus {
  border-color: var(--primary);
}

.ant-breadcrumb-link a,
.ant-breadcrumb-separator {
  color: #fff;
  font-size: 16px;
}

.ant-breadcrumb li:last-child a {
  color: var(--light-gray);
}

.ant-breadcrumb-link a:hover {
  color: var(--primary);
}
