.product-edit__block {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
    background-color: var(--gray);
    border-radius: var(--border-radius);
}

.product-edit__block--row {
    flex-direction: row;
}

.product-edit__item-title {
    color: #fff;
    font-size: 20px;
}

.product-edit__item-text {
    color: #fff;
    font-size: 20px;
}

.product-edit__main {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}

.ant-select {
    width: 100%;
}

.product-edit__id {
    grid-column-start: 1;
    grid-column-end: -1;
}

.product-edit__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-edit__img .product-edit__item-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.product-edit__img-block__title {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.product-edit__item-block--img {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    row-gap: 15px;
    align-items: center;
}

.product-edit__img-block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.product-edit__img-block img {
    max-width: 250px;
}

.product-edit__images {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

span.ant-upload {
    width: 100%;
    max-width: 250px;
}

.product-edit__img-block__content {
    display: flex;
}

.ant-upload-list {
    height: 100%;
    display: flex;
}

.ant-upload-picture-card-wrapper, .ant-upload-list-picture-card-container {
    height: 100%;
    width: 100%;
}

.ant-image-preview-operations {
    background-color: var(--gray);
}

.product-edit__img-block-btn {
    font-size: 18px;
}

.product-edit__btns {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    margin-top: 20px;
}

.product-edit__btn--submit {
    background-color: var(--primary);
}

.product-edit__btn--delete {
    background-color: #de5454;
    border: 3px solid #de5454;
}

.product-edit__btn--delete:hover {
    background-color: #de2d2d;
    border: 3px solid #de2d2d;
}