.user-page {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.user-info {
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 40px;
    row-gap: 20px;
    align-items: center;
}

.user-controls {
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 40px;
    row-gap: 20px;
    align-items: center;
}