h1 {
    /*margin-top: 35px;*/
}

a span:first-child {
    color: darkred
}

a span:nth-child(2) {
    color: #9315ed
}

a span:nth-child(3) {
    color: darkorange
}

a span:nth-child(4) {
    color: red
}

a span:nth-child(5) {
    color: green
}