main {
    position: absolute;
    width: 100%;
    background: no-repeat url("https://new-retail.ru/upload/iblock/9f5/9f5ee507338601fac185a1d6626ee90f.jpg") 0/100%;
    height: 1000px;
    /*z-index: 11;*/
}

h2 {
    background-color: #ccc;
    width: 10%;
    margin: 15px auto;
}

section {
    background-color: #ccc;
    width: 60%;
    margin: auto;
    font-weight: bolder;
}