.contacts__item, .contacts-block__title, .contacts__content {
    color: #fff;
}

strong {
    color: var(--primary);
}

.contacts-block + .contacts-block {
    margin-top: 50px;
}

.contacts__panel {
    display: block;
    background-color: var(--gray);
    padding: 30px;
    /*border: 1px solid var(--light-gray);*/
    border-radius: var(--border-radius);
}

.contacts-block__head {
    margin-bottom: 20px;
}

.contacts-block__title {
    font-size: 30px;
    margin-bottom: 0;
}

.contacts__content {
    font-size: 20px;
    margin-bottom: 30px;
}

.contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
}

.contacts__item {
    font-size: 20px;
}

.contacts__item-head {
    color: var(--light-gray);
}

.contacts__item-main .contacts__item-body {
    font-size: 28px;
}

.contacts__item-link, .contacts__item-body {
    color: #ffffff;
}

.contacts__item-link:hover {
    color: var(--primary);
}

.shop-list__wrapper {
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.shop-list {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.shop-list__block {
    display: table-row;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}

.shop-list__item {
    color: #fff;
    display: table-cell;
    padding: 10px 0;
}

.shop-list__item-title {
    font-size: 16px;
    color: var(--light-gray);
}

.shop-list__item-text {
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    .shop-list__block, .shop-list__item {
        display: block;
    }
}

.balloon__block {

}

.balloon__block:not(:last-child) {
    margin-bottom: 10px;
}

.balloon__title {
    color: var(--light-gray);
}

.balloon__text {
    color: var(--dark-gray);
}

.balloon__block-address .balloon__text {
    font-size: 15px;
}

.balloon__block-work-time .balloon__text {

}

.balloon__footer {
    border-top: 1px solid var(--light-gray);
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.balloon__footer a:hover {
    text-decoration: underline;
}
