.App {
  text-align: center;
}

.App header {
  /*position: fixed;*/
  padding-top: 30px;
  top: -15px;
  margin-top: -25px;
  /*position: sticky;*/
  background-color: #73c3c9;
  width: 100%;
  z-index: 15;
  height: 138px;
}

a {
  text-decoration: none;
  font-weight: bold;
}


