:root {
  --primary: #35d035;
  --dark-gray: #1e1e1e;
  --light-gray: #b2b2b2;
  --gray: #3d3d3d;
  --header-height: 64px;
  --antd-wave-shadow-color: #35d035;
}

body {
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  src: url("static/resources/fonts/gilroy-light.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  src: url("static/resources/fonts/gilroy-extra-bold.woff") format("woff");
}
